$color-primary:#31C4BE;
$color-secondary:#F0B336;
$color-square:#1E3640;
$color-win:#608CA0;
$color-background:#1A2B33;
$color-light:#A9BEC9;

$board-size-3x3: 330px;
$board-size-4x4: 450px;
$board-size-5x5: 570px;

$font-size-standart: 1.6rem;
$font-weight-middle: 600;
$font-weight-bold: 900;